.hero {
  background-color: #212121;
  padding: 48px;
}

.heroInner {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px;
}

.heroProjectTagline {
  color: #ffffff;
  font-size: 60px;
  margin: 0;
  text-align: center;
}

.heroProjectSubTagline {
  color: #ffffff;
  font-size: 44px;
  font-family: Courier, monospace;
  margin: 0;
  text-align: center;
}

.heroCodeFunction {
  color: var(--ifm-color-tertiary);
}

.heroCodeVariable {
  color: var(--ifm-color-secondary);
}

.heroCodeValue {
  color: var(--ifm-color-primary)
}

.heroCodeSymbols {
  color: #ffffff;
}

.heroProjectKeywords {
  color: var(--ifm-color-primary);
}

@media only screen and (max-width: 768px) {
  .hero {
    padding-left: 20px;
    padding-right: 20px;
  }

  html[data-theme='dark'] .hero {
    padding-bottom: 0px;
  }

  .heroInner {
    padding: 0;
  }

  .heroProjectTagline {
    font-size: 42px;
    text-align: center;
  }

  .heroProjectSubTagline {
    font-size: 32px;
  }
}

@keyframes scrollDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  50% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

/* Animated word style */
.animatedWord {
  display: inline-block;
  animation: scrollDown 1s ease-in-out;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 150px;
  max-width: 60%;
  padding-top: 20px;
  margin: 0 auto;
}

.featureHeading {
  color: var(--ifm-color-primary);
  font-size: var(--ifm-h3-font-size);
  font-family: Courier, monospace;
  text-transform: uppercase;
  padding-top: 1rem;
  text-align: center;
}

.featureHeading:before {
  font-family: Courier, monospace;
  content: "<";
  color: var(--ifm-color-secondary);
}

.featureHeading:after {
  font-family: Courier, monospace;
  content: "/>";
  color: var(--ifm-color-secondary);
}

.articles {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

html[data-theme='light'] .articles {
  background-color: #212121;
}

.articlesHeading {
  color: var(--ifm-color-primary);
  font-size: var(--ifm-h3-font-size);
  font-family: Courier, monospace;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
}

html[data-theme='light'] .articlesHeading {
  color: var(--ifm-color-tertiary);
}

.articlesHeading:before {
  font-family: Courier, monospace;
  content: "<";
  color: var(--ifm-color-secondary);
}

.articlesHeading:after {
  font-family: Courier, monospace;
  content: "/>";
  color: var(--ifm-color-secondary);
}

.articleCard {
  margin-bottom: 2rem;
}

.articleTitle {
  color: var(--ifm-color-primary);
}

.articleTag {
  color: var(--ifm-color-secondary);
  font-size: var(--ifm-h5-font-size);
}

.articleLink {
  float: right;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles for the new event cards */
.events {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;

}

.eventsHeading {
  color: var(--ifm-color-primary);
  font-size: var(--ifm-h3-font-size);
  font-family: Courier, monospace;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
}

.eventsHeading:before {
  font-family: Courier, monospace;
  content: "<";
  color: var(--ifm-color-secondary);
}

.eventsHeading:after {
  font-family: Courier, monospace;
  content: "/>";
  color: var(--ifm-color-secondary);
}

.eventRow {
  justify-content: center;
}

.eventCardWrapper {
  display: flex;
  justify-content: center;
}

.eventCard {
  margin-bottom: 2rem;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: var(--ifm-card-background-color);
  box-shadow: var(--ifm-global-shadow-md) !important;
}

.eventDetail {
  color: var(--ifm-color-secondary);
  font-size: var(--ifm-h5-font-size);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .events {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Styles for the new newsletter section */
.newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  background-color: #212121;
  width: 100%;
}

html[data-theme='dark'] .newsletter {
  background-color: var(--ifm-color-black);
}

.newsletterHeading {
  color: var(--ifm-color-tertiary);
  font-size: var(--ifm-h2-font-size);
  font-family: Courier, monospace;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.newsletterHeading:before {
  font-family: Courier, monospace;
  content: "<";
  color: var(--ifm-color-secondary);
}

.newsletterHeading:after {
  font-family: Courier, monospace;
  content: "/>";
  color: var(--ifm-color-secondary);
}

.newsletterDescription {
  font-size: var(--ifm-h4-font-size);
  margin-bottom: 1.5rem;
}

html[data-theme='light'] .newsletterDescription {
  color: var(--ifm-color-white);
}

.newsletterButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.newsletterButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.6em 1.2em;
  border: 1px solid var(--ifm-color-secondary);
  background: transparent;
  color: var(--ifm-color-secondary);
}

.newsletterButton:hover {
  background: var(--ifm-color-secondary);
}

@media only screen and (max-width: 768px) {
  .newsletter {
    padding-left: 20px;
    padding-right: 20px;
  }

  .newsletterHeading {
    font-size: var(--ifm-h3-font-size);
  }

  .newsletterDescription {
    font-size: var(--ifm-h5-font-size);
  }

  .newsletterButtonWrapper {
    justify-content: flex-start;
    margin-top: 1rem;
  }
}